html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select:required:invalid {
  color: #9ba3af;
}

.remove_scrollBar::-webkit-scrollbar {
  /* WebKit */
  width: 0px;
}

.onScroll {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.headerLogo {
  background-image: url("/icons/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headerLogoRight {
  background-image: url("/icons/itcLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bgImg {
  background-image: url("/assets/images/frozen-snacks-bg-pattern.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.aboutBgImg {
  background-image: url("/assets/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.holder {
  opacity: 0;
  transform: translateY(100px);
}

.fadeInUp {
  animation: fadeInUp 1s both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.holder2 {
  opacity: 0;
  transform: translateX(-100px);
}

.fadeLeft {
  animation: fadeLeft 1s both;
}

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.holder3 {
  opacity: 0;
  transform: translateX(100px);
}

.fadeRight {
  animation: fadeRight 1s both;
}

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
